<%= form_for([@customer, @survey, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text, "This is the text displayed to your customers.  Include here punctuation as you wish it to appear." %><br />
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label "Question Type:" %>
    <br />
    &nbsp;<%= f.radio_button :yes_no, :yes_no, { name: "question[button_type]", class: "qtype", checked: @question.yes_no?} %>
    Yes/No<br />
    &nbsp;<%= f.radio_button :rating, :rating, { name: "question[button_type]", class: "qtype", checked: @question.rating?} %>
    Rating<br />
    &nbsp;<%= f.radio_button :free_form, :free_form, { name: "question[button_type]", class: "qtype", checked: @question.free_form?} %>
    Free Form<br />
    &nbsp;<%= f.radio_button :customized, :customized, { name: "question[button_type]", class: "qtype", checked: @question.customized?} %>
    Customized<br />
  </div>
  <div class="customized_question">
    <div class="field">
      <%= f.label :custom_values %><br />
      <%= f.text_area :custom_values %>
    </div>
    <div class="field">
      <%= f.label :custom_type %><br />
      <%= f.select :custom_type, options_for_select(Question.custom_types.map.each_with_index { |v,i|[v.titleize,i]}, @question.custom_type) %>
    </div>
  </div>
  <% if @question.customized? %>
    <script>
        $(".customized_question").show()
    </script>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
