<table class="table">
  <tr>
    <th>
      Display Name:
    </th>
    <td>
      <%= @editable ? (link_to @customer.name, edit_customer_path(@customer)) : @customer.name%>
    </td>
  </tr>
  <tr>
    <th>
      Logo
    </th>
    <td>
      <%= @editable ? (link_to image_tag(@customer.logo.url(:small)), edit_customer_path(@customer)) : (image_tag @customer.logo.url(:small))%>
    </td>
  </tr>
</table>
<table style="background-color: white;">
  <% if current_user.admin? %>
  <tr>
    <th>
      <%= link_to "Active", edit_customer_path(@customer) %>
    </th>
    <td>
      <%= @customer.active?%>
    </td>
  </tr>
  <% end %>
  <tr>
    <th>
      <%= @editable ? (link_to "Menu Text Color", edit_customer_path(@customer)) : "Menu Text Color" %>
    </th>
    <td style="width:50px;background-color:<%=@customer.menu_text_color.present? ? @customer.menu_text_color : "#FFFFFF"%>;">&nbsp;</td>
  </tr>
  <tr>
    <th>
      <%= @editable ? (link_to "Menu Background Color", edit_customer_path(@customer)) : "Menu Background Color" %>
    </th>
    <td style="width:10px;background-color:<%=@customer.menu_bg_color.present? ? @customer.menu_bg_color : "#000000"%>;">&nbsp;</td>
  </tr>
  <tr>
    <th>
      <%= @editable ? (link_to "Body Text Color", edit_customer_path(@customer)) : "Body Text Color" %>
    </th>
    <td style="width:10px;background-color:<%=@customer.body_text_color.present? ? @customer.body_text_color : "#000000"%>;">&nbsp;</td>
  </tr>
  <tr>
    <th>
      <%= @editable ? (link_to "Body Background Color", edit_customer_path(@customer)) : "Body Background Color" %>
    </th>
    <td style="width:10px;background-color:<%=@customer.body_bg_color.present? ? @customer.body_bg_color : "#FFFFFF"%>;">&nbsp;</td>
  </tr>
</table>