<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<% @customer.surveys.each do |survey| %>
  <p>
    <%= link_to survey.name, customer_survey_path(@customer,survey) %>
  </p>
<% end %>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'New Survey', new_customer_survey_path(@customer) %>|
<%= link_to 'Back', customers_path %>
