<form method="post" id="question_form" name="question_form">
  <%= @question.text %>
  <br />
  <div id="question">
  <% if @question.yes_no? %>
      <div class="field">
          <input type="radio" id="_response1" name="_response" value="1" />
          <label for="_response1">Yes</label>
      </div>
      <div class="field">
        <input type="radio" id="_response2" name="_response" value="0">
        <label for="_response2">No</label>
      </div>

  <% elsif @question.rating? %>
    <div id="ratings">
      <div class="field">
        <input type="radio" id="_response1" name="_response" value="5">
        <label for="_response1">Extremely Satisfied</label>
      </div>
      <div class="field">
        <input type="radio" id="_response2" name="_response" value="4">
        <label for="_response2">Very Satisfied</label>
      </div>
      <div class="field">
        <input type="radio" id="_response3" name="_response" value="3">
        <label for="_response3">Satisfied</label>
      </div>
      <div class="field">
        <input type="radio" id="_response4" name="_response" value="2">
        <label for="_response4">Unsatisfied</label>
      </div>
      <div class="field">
        <input type="radio" id="_response5" name="_response" value="1">
        <label for="_response5">Very Unsatisfied</label>
      </div>
      <div class="field">
        <input type="radio" id="_response6" name="_response" value="0">
        <label for="_response6">Unknown</label>
      </div>
    </div>
  <% elsif @question.free_form? %>
      <textarea id="_response" name="_response">

      </textarea>
  <% end %>
  </div>
  <%= tag(:input, type: "hidden", name: "question_id", value: @question.id ) %>
  <%= tag(:input, type: "hidden", name: "survey_id", value: @survey.id ) %>
  <%= tag(:input, type: "hidden", name: "complete_survey_id", value: @complete_survey.id) %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <br />
  <input type="submit" value="Next ->" />
</form>