<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th colspan="100%"><%=@survey.name%></th>
    </tr>
  </thead>
  <tbody>
  <% @survey.questions.each do |question| %>
  <tr>
    <td><%=question.index%></td>
    <td><%=question.text%></td>
    <td>
      <% if question.yes_no? %>Yes/No<% end %>
      <% if question.rating? %>Rating<% end %>
      <% if question.free_form? %>Free Form<% end %>
    </td>
    <td>
      <%= link_to 'Delete', customer_survey_question_path(@customer,@survey,question), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="100%">
      <%= link_to 'New Question', new_customer_survey_question_path(@customer, @survey) %>
    </td>
  </tr>
  </tbody>
</table>
</div>
<div>
  Qr Image:
  <a href="<%=complete_surveys_path(survey_id: @survey.id)%>" target="_blank">
    <image src="<%=qr_codes_url(survey_id: @survey.id, format: :jpeg)%>" width="100" />
  </a>
</div>
