<div class="table-responsive">
  <table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="100%">
        <%= @editable ? (link_to @survey.name, edit_customer_survey_path(@customer, @survey)) : @survey.name %>
      </th>
    </tr>
    <tr>
      <th>Order</th>
      <th>Text</th>
      <th>Question Type</th>
      <% if current_user.admin? or current_user.master_user? %>
      <th>Move Up/Down</th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @survey.questions.order(:index).each do |question| %>
  <tr>
    <td>
      <div class="divLink">
        <%= question.index %>
      </div>
    </td>
    <td>
      <div class="divLink">
        <%= question.text %>
      </div>
    </td>
    <td>
      <div class="divLink">
        <%= question.yes_no? ? "Yes/No" : question.rating? ? "Rating" : "Free Form" %>
      </div>
    </td>
    <% if current_user.admin? or current_user.master_user? %>
    <td>
      <% if question.index > 1 %>
        <%= link_to '&uarr;'.html_safe, up_customer_survey_question_path(@customer,@survey,question) %>
      <% end %>
      <% if question.index < @survey.questions.size %>
        <%= link_to "&darr;".html_safe, down_customer_survey_question_path(@customer,@survey,question) %>
      <% end %>

    </td>
    <td>
      <%= link_to 'Edit', edit_customer_survey_question_path(@customer,@survey,question)%> |
      <%= link_to 'Delete', customer_survey_question_path(@customer,@survey,question), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <%end%>
  </tr>
  <% end %>
  <% if @editable %>
  <tr>
    <td colspan="100%">
      <%= link_to 'New Question', new_customer_survey_question_path(@customer, @survey) %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td>
      <div class="divLink">
        <%= @editable ? (link_to "Completed Message:", edit_customer_survey_path(@customer, @survey)) : "Completed Message" %>
      </div>
    </td>
    <td>
      <div class="divLink">
      <pre>
<%= @editable ? (link_to @survey.complete_message, edit_customer_survey_path(@customer, @survey)) : @survey.complete_message %>
      </pre>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
</div>
<% if @customer.active? %>
<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <td colspan="100%">
        <div style="font-weight: bold">View and Print Survey</div>
        <div style="font-size: small">Print surveys are first 3 questions only. Links open new window.</div>
      </td>
    </tr>
    </thead>
    <tbody>
    <% if @reporting_fields %>
      <% @reporting_fields.each do |rf| %>
        <tr>
          <td></td>
          <td>
            <% p = {format: 'pdf'}
               rf.each do |f|
                 p = p.merge(f)
               end %>
            <%= link_to "View printable card for #{p.select{|k| k.match /^c_/}.to_s.gsub(/[{}\">]|(c_)/,"")}", card_customer_survey_path(@customer, @survey, p), target: "_blank" %>
          </td>
          <td>
            <% p.delete(:format) %>
            <%= link_to "View survey for #{p.select{|k| k.match /^c_/}.to_s.gsub(/[{}\">]|(c_)/,"")}", complete_surveys_path( {survey_id: @survey.id}.merge(p)), target: "_blank" %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td>
        <%= link_to "No Reporting Fields", card_customer_survey_path(@customer, @survey, format: 'pdf'), target: "_blank" %>
      </td>
      <td><%= link_to "View Web Survey", complete_surveys_path(survey_id: @survey.id), target: "_blank"%></td>
    </tr>
    </tbody>
  </table>
</div>
<% else %>
 <div class="table-responsive">
   <table class="table table-bordered table-condensed">
     <thead>
     <tr>
       <th colspan="100%">Reporting Fields</th>
     </tr>
     <tr>
       <th>Title</th>
       <th>Values</th>
     </tr>
     </thead>
     <tbody>
     <% @survey.reporting_fields.each do |reporting_field| %>
       <tr>
         <td><%=reporting_field.field_title %></td>
         <td><pre><%=reporting_field.field_values%></pre></td>
       </tr>
     <% end %>
     </tbody>
   </table>
 </div>
<% end %>