<div class="table-responsive">
  <table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th colspan="100%">
        <%= link_to @survey.name, edit_customer_survey_path(@customer, @survey) %>
      </th>
    </tr>
    <tr>
      <th>Order</th>
      <th>Text</th>
      <th>Question Type</th>
      <th>Move Up/Down</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @survey.questions.order(:index).each do |question| %>
  <tr>
    <td>
      <div class="divLink">
        <%= question.index %>
      </div>
    </td>
    <td>
      <div class="divLink">
        <%= question.text %>
      </div>
    </td>
    <td>
      <div class="divLink">
        <%= question.yes_no? ? "Yes/No" : question.rating? ? "Rating" : "Free Form" %>
      </div>
    </td>
    <td>
      <% if question.index > 1 %>
        <%= link_to '&uarr;'.html_safe, up_customer_survey_question_path(@customer,@survey,question) %>
      <% end %>
      <% if question.index < @survey.questions.size %>
        <%= link_to "&darr;".html_safe, down_customer_survey_question_path(@customer,@survey,question) %>
      <% end %>

    </td>
    <td>
      <%= link_to 'Edit', edit_customer_survey_question_path(@customer,@survey,question)%> |
      <%= link_to 'Delete', customer_survey_question_path(@customer,@survey,question), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="100%">
      <%= link_to 'New Question', new_customer_survey_question_path(@customer, @survey) %>
    </td>
  </tr>
  <tr>
    <td>
      <div class="divLink">
        <%= link_to "Completed Message:", edit_customer_survey_path(@customer, @survey) %>
      </div>
    </td>
    <td>
      <div class="divLink">
      <pre>
<%= link_to @survey.complete_message, edit_customer_survey_path(@customer, @survey) %>
      </pre>
      </div>
    </td>
  </tr>
  <tr>
    <td>
  QR code for this survey:
    </td>
    <td>
      <% if @qr %>
        <table cellpadding=0 cellspacing=0 style="border: 2px solid white ">
          <% @qr.modules.each_index do |x| %>
            <tr>
              <% @qr.modules.each_index do |y| %>
                <% if @qr.dark?(x,y) %>
                  <td class="black" style="background-color: black;height:2px; width:2px;"/>
                <% else %>
                  <td class="white" style="background-color: white;height:2px;width:2px;"/>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      <% end %>
    </td>
  </tr>
  </tbody>
  </table>
</div>
<div class="category">
  Links (Open in new window):<br /> &nbsp; &nbsp;
  <%= link_to "View Survey", complete_surveys_path(survey_id: @survey.id), target: "_blank"%> |
  <%= link_to "View Printable Card", card_customer_survey_path(@customer, @survey, format: 'pdf'), target: "_blank" %>(first 4 questions only)
</div>