<div>
  <p>Enter your payment information:</p>
</div>
<%= form_tag customer_payments_path, method: :post, id: "make_payment" do %>
  <%= hidden_field_tag :stripe_card_token %>
<div class="field">
  <%= label_tag :card_number, "Credit Card Number " %>
  <%= text_field_tag :card_number, nil, name: nil %>
</div>
<div class="field">
  <%= label_tag :card_code, "Security Code on Card (CVV)" %>
  <%= text_field_tag :card_code, nil, name: nil %>
</div>
<div class="field">
  <%= label_tag :card_month, "Card Expiration" %>
  <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
</div>
<div id="stripe_error">
  <noscript>Javascript is not enabled and is required for this form.  Enable it in your browser settings.</noscript>
</div>
<div class="action">
  <%= submit_tag "Make Payment" %>
</div>
<% end %>