<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @payment.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @payment.edit %>
</p>

<p>
  <strong>Create:</strong>
  <%= @payment.create %>
</p>

<p>
  <strong>Update:</strong>
  <%= @payment.update %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @payment.destroy %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
