<script type="text/javascript">
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart<%=question.id%>);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart<%=question.id%>() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Answer');
        data.addColumn('number', 'Visit');
        data.addRows([
            <% @report.responses[question.id].each do |k,v|%>
            ['<%=k.to_s.titleize%>',<%=v%>],
            <% end %>
        ]);

        // Set chart options
        var options = {'title':'<%=question.text%> (Respondents: <%=(@report.answers[question.id]/@report.complete_surveys.size.to_f*100).round(1)%>%)',
            width: 600,
            height: 200,
            colors: <%= raw @report.response_colors(question.id) %>
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.<%=question.yes_no? ? 'BarChart' : 'PieChart'%>(document.getElementById('chart_div<%=question.id%>'));
        chart.draw(data, options);
    }
</script>
<!--Div that will hold the chart-->
<tr>
  <td colspan="100%">
    <div id="chart_div<%=question.id%>"></div>
  </td>
</tr>
