<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<table width="100%">
  <tr>
    <td><h1><%=@survey.name.titleize%></h1></td>
    <td style="text-align: right"><h4><small><%=Date.today.strftime("%B %-d, %Y")%></small></h4></td>
  </tr>
</table>

<table class="table table-striped table-bordered table-hover" style="width:100%;">
  <tbody>
  <% @survey.questions.order(:index).each do |question| %>
  <tr><td colspan="100%"><hr /></td></tr>
      <% if question.rating? or question.yes_no? %>
          <%= render 'chart', question: question %>
      <% else %>
          <%= render 'responses', question: question %>
      <% end %>
  <% end %>
  <tr><td colspan="100%"><hr /></td></tr>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="100%">
      <div class="pull-right">
        Total Responses: <%=@complete_surveys.size%>
      </div>
    </th>
  </tr>
  </tfoot>
</table>