<style>

</style>
<%= form_tag(reporting_fields_customer_survey_report_path(@customer, @survey,2), method: :post) %>
<table class="table">
  <tbody>
  <tr>
    <th colspan="100%">
      Reporting Fields
    </th>
  </tr>
  <% @reporting_fields.map{ |k, v| k }.uniq.each do |reporting_field| %>
    <tr>
      <td width="5%"></td>
      <th width="10%">
        <%=reporting_field.match /[^c_].*/%>
      </th>
      <td>
        <%= select(:field, reporting_field,@reporting_fields.select{ |k,v| k == reporting_field}.map{|k,v| v }, { :include_blank => true } ) %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan="100%">
      Report Options
    </th>
  </tr>
  <tr>
    <td></td>
    <th>Date Range</th>
    <td>From: <%= date_select(:field, "from") %> To: <%= date_select(:field, "to") %></td>
  </tr>
  <tr>
    <td></td>
    <th>Output Format:</th>
    <td><%= select(:field, "format", {"Web" => "html","PDF" => "pdf" }) %></td>
  </tr>
  </tbody>
    </table>
    <input type="submit" value="Generate Report" />
    <input type="reset" value="Clear All Fields" />
</form>
