<style>

</style>
<table class="table">
  <thead>
  <tr>
    <th>
      Report Option
    </th>
    <th colspan="100%">
      Output Option
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      All Responses Report
    </td>
    <td>
      <%= link_to "Web", reporting_fields_customer_survey_report_path(@customer, @survey, 1), target: "_blank" %>
        |
      <%= link_to "PDF", reporting_fields_customer_survey_report_path(@customer, @survey, 1, format: :pdf), target: "_blank" %>
    </td>
  </tr>
  <% @reporting_fields.each do |reporting_field| %>
  <tr>
    <td>
      <%= reporting_field[0].match /[^c_].*/ %> = <%=reporting_field[1] %>
    </td>
    <td>
      <%= link_to "Web", reporting_fields_customer_survey_report_path(@customer, @survey, 2, reporting_field[0] => reporting_field[1]), target: "_blank" %>
        |
      <%= link_to "PDF", reporting_fields_customer_survey_report_path(@customer, @survey, 2, reporting_field[0] => reporting_field[1], format: :pdf), target: "_blank" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

