<style>

</style>
<%= form_tag(reporting_fields_customer_survey_report_path(@customer, @survey,2), method: :post) %>
<table class="table">
  <thead>
  <tr>
    <th>
      Report Option
    </th>
  </tr>
  </thead>
  <tbody>
  <% current_field = "" %>
  <% @reporting_fields.each do |reporting_field| %>
  <tr>
    <% unless current_field == reporting_field[0] %>
      <td rowspan="<%= @reporting_fields.select{ |k,v| k == reporting_field[0]}.size %>">
        <%=reporting_field[0].match /[^c_].*/%>
      </td>
      <% current_field = reporting_field[0] %>
    <% end %>
    <td>
      <input type="radio" name="field[<%=reporting_field[0]%>]" id="<%=reporting_field[0]%>" value="<%=reporting_field[1] %>">
      <%=reporting_field[1] %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
    <table>
      <tr>
        <td><input type="radio" id="format" name="field[format]" value="html"></td>
        <td>Web</td>
      </tr>
      <tr>
        <td><input type="radio" id="format" name="field[format]" value="pdf"></td>
        <td>PDF</td>
      </tr>
    </table>
    <input type="submit" value="Generate Report" />
    <input type="reset" value="Clear All Fields" />
</form>
