<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
</script>
<table width="600px">
  <tr>
    <td><h1><%=@report.title%></h1></td>
    <td style="text-align: right"><h4><small><%=Date.today.strftime("%B %-d, %Y")%></small></h4></td>
  </tr>
  <% if @report.subtitle.present? %>
      <tr><td><h3><%=@report.subtitle%></h3></td></tr>
  <% end %>
</table>

<table class="table table-striped table-bordered table-hover" style="width:600px;">
  <tbody>
  <% @report.survey.questions.order(:index).each do |question| %>
      <% if question.rating? or question.yes_no? or question.customized? %>
          <%= render 'chart', question: question %>
      <% else %>
          <%= render 'responses', question: question %>
      <% end %>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="100%">
      <div class="pull-right">
        Total Responses: <%=@report.complete_surveys.size%>
      </div>
    </th>
  </tr>
  </tfoot>
</table>