<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div style="color:#FFFFFF"><% if @customer %>
      <%= @customer.name %>
  <% elsif @survey %>
      <%= @survey.customer.name %>
  <% end %>
  <div class="navbar-text pull-right">
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>
  </div>
  </div>
  <div class="container">
    <div class="navbar-header" style="color:white">
      <%= render_breadcrumbs separator: ' / ', class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>